code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.square {
  background: #fff;
  border: 1px solid #999;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
  font-size: smaller;
  vertical-align:top;
}
.oculto {
  background-color: rgba(12, 236, 183, 0.8);
  background: rgba(12, 236, 183, 0.8);
  color: rgba(12, 236, 183, 0.1);
  border: 5px outset #4444ff;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 5px;
  width: 34px;
}
.temporizador{
  border: 5px outset #4444ff;
  height: 20px;
    display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -1px;
  margin-top: -1px;
  padding: 5px;

}
.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(22,14,196);
  background: linear-gradient(180deg, rgba(22,14,196,1) 0%, rgba(0,255,166,1) 100%);
  height:100vh;
  margin: -20px;
    flex-direction: column;
}
.game-board{
    display: flex;
  width: 34px;
  height: 400px;
  width: 400px;
  background: rgb(3,1,45);
  align-items: center;
  justify-content: center;
}
.abajo{
    display: flex;
  justify-content: center;
  align-items: center;
}